<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    <div class="wrapper">
        <header>
        <div class="top-grid">
            <div class="cell">
                <h1 class="logo">Moment 2</h1>
            </div>
            <div class="cell">
                <nav>
                    <ul>
                        <li><a asp-controller="Home" asp-action="Index">Hem</a></li>
                        <li><a asp-controller="Home" asp-action="Dogs">Hundar</a></li>
                        <li><a asp-controller="Form" asp-action="Add">Lägg till hund</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        </header>
        <main>
        @RenderBody()
        </main>
        <footer>
            (C) Björn Ettelman
        </footer>
    </div>
</body>

</html>